:root {
	--clr-background: hsl(230, 10%, 12%);
	--clr-forward: hsl(250, 8%, 31%);

	--clr-text: hsl(0, 0%, 100%);
	--clr-text-hover: hsl(0, 21%, 84%);
}

body {
	width: 100%;
	height: Max(100vh, 100%);

	background-color: var(--clr-background);
	color: var(--clr-text);
	font-family: "Source Serif Pro", serif;
}
